.get{
    width: 70px;
    height: 30px;
    line-height:30px;
    background-color: gainsboro;
    cursor: pointer;
    text-align: center;
}
.total-main{
    width: 800px;
    margin: auto;
}

select{

    font-family: "微软雅黑";
    margin:100px;
    background: rgba(0,0,0,0);
    width: 249px;
    height: 40px;
    font-size: 18px;
    color: black;
    text-align: center;
    border: 1px #1a1a1a solid;
    border-radius: 5px;
}
option{
    color: black;
    background: #A6E1EC;
    line-height: 20px;
}
select:focus{
    border: 2px #ddd solid;
    box-shadow: 0 0 15px 1px #DDDDDD;
}
option:hover{
    background: #EBCCD1;
}

.setbutton{
    width: 60px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}